@import url(https://fonts.googleapis.com/css?family=Ubuntu);


body{
	font-size: 1rem;
	font-family: 'Ubuntu', sans-serif;
	color : #000000;
	
	background-image: https://puu.sh/zsqIq/7f02faffa7.jpg;
}

a:link {
    background-color: #ccff66;
    color: #000000;
    border-radius: 2px;
    padding: 7px 12px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px #eeeeee;
}

h3{
	text-indent: 50px;
}

span{
	display:inline-block;
	text-indent: 100px;
}

#top_title{
	background-color: #c7f075;
	text-align: center;
	box-shadow: 3px 3px #eeeeee;
}

