@import url(https://fonts.googleapis.com/css?family=Ubuntu);


body{
	font-size: 1rem;
	font-family: 'Ubuntu', sans-serif;
	color : #000000;
	background-color: #bdd194;
}

a:link {
    background-color: #ccff66;
    color: white;
    border-radius: 2px;
    padding: 7px 12px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

h3{
	text-indent: 50px;
}

span{
	text-align: justify;
	text-indent: 100px;
}

#top_title{
	background-color: #c7f075;
	text-align: center;
}

