@import url(https://fonts.googleapis.com/css?family=Ubuntu);


body{
	font-size: 1rem;
	font-family: 'Ubuntu', sans-serif;
	color : #eeeeee;
	background-image: url("https://i.imgur.com/hJd8oDP.jpg");
}

a:link {
    background-color: #ff3333;
    color: #000000;
    border-radius: 2px;
    padding: 7px 12px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px #004080;
}

p{
	text-shadow: 1px 1px #004080;
}

h2{
	text-shadow: 2px 2px #004080;
}

h3{
	text-indent: 50px;
	text-shadow: 1px 1px #004080;
}

span{
	display:inline-block;
	text-indent: 100px;
	text-shadow: 1px 1px #004080;
}

#top_title{
	background-color: #ff3333;
	text-align: center;
	box-shadow: 3px 3px #004080;
}

#links{
	position: relative;
	display:inline;
	top: 50%;
	left: 50%;
	margin: -100px -100px;

}
